.heading{
    text-align: center;
}

.heading>span{
    color: #0075ff;
}

.left-side{
    border-right: 2px dotted lightgray;            
    width: 35%;
    height: 600px;
    display: grid;
    place-items: center;
    padding: 2em;
}

#edit-photo{
    width: 50%;
    padding: 4px;
}

.right-side{
    width: 65%;
    padding: 2em;
}
