<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
</head>
<body>
    {% include 'navbar.html' %}
    <center><h1>Terms and Conditions</h1></center>
    <p>Following are the terms and conditions for registering the users :</p>
    <p>
        <pre>
        1. The user should be using the site responsibly and does not have any ill intend.
        2. The user should use provide valid and correct information on the site during registeration.
        3. The authority and creator is not responsible for any financial or any other type of loss to the user.
        4. Do not share any sensitive data on the registration form.
        </pre>
    </p>
    {% include 'footer.html' %}
</body>
</html>